
// Flower
.flower-list {
  position: fixed;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.flower-link {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  color: $primary;

  &:hover {
    color: $dark;
  }
}

.flower {
  background-size: cover;
  display: flex;
  padding: 15rem 2rem 8rem;
  align-items: center;
}
